@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

/* brödtext/knapptext */
.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* headlines */
.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-background: #a3cef1;
  --color-pop: #3da9fc;
  --color-button: #ef4565;
  --color-text: #000000;
  --color-card-bg: #fbfcfd;
  --color-card-pop: #a3cef18a;
}

body {
  background: #ffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(163, 206, 241, 1) 100%
  );
}
